.contact {
  display: flex;
  flex: 0.85;
  flex-direction: column;
  min-height: 100vh;
  background: #362700;
  color: white;
}
.contact_title {
  height: 200px;
  justify-content: center;
  background: #1a1300;
  color: red;
  align-items: center;
  box-shadow: 0 13px 10px -2px #a1977e23;
}
.contact_title h1 {
  padding-top: 50px;
}
.contact_inner {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.contact_info h1 {
  margin-top: 50px;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 50px;
}
.contact_email {
  padding: 20px;
  max-height: 200px;
  border: 1px solid lightblue;
  background: #2b2105;
  border-radius: 10px;
  margin: 15px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.contact_email h2 {
  font-size: 1.5rem;
  margin-right: 15px;
  width: 100%;
}
.contact_location {
  width: 370px;
  background: #2b2105;
  border-radius: 10px;
  padding: 20px;
  max-height: 200px;
  border: 1px solid lightblue;
  margin: 15px;
}
.contact_images {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: 0;
}
.contact_images h3 {
  color: lightgray;
  margin: 15px;
}
.contact_title h1 {
  text-align: center;
  font-size: 3rem;
}
.small_line {
  height: 8px;
  border-radius: 5px;
  margin: auto;
  margin-top: 20px;
  width: 100px;
  align-items: center;
  background-color: #836866;
}
@media only screen and (max-width: 800px) {
  .contact_inner {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 600px) {
  .contact_location {
    width: 490px;
  }
  .contact_email h2 {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 500px) {
  .contact_location {
    width: 300px;
  }
}
