.header {
  display: flex;
  height: 80px;
  background: #555555e8;
  align-items: center;
  justify-content: center;
  z-index: 999;
  top: 0;
}
.nav_links {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0;
  margin: auto;
}

.show-nav_links {
  height: 10rem;
}
.nav_link {
  cursor: pointer;
  transition: all 0.4s ease-in;
}
.nav_links .active {
  background: red;
}
.nav_link h2 {
  font-size: 20px;
  padding: 20px;
  color: aliceblue;
}
.nav_link :hover {
  border-bottom: 1px solid yellow;
}
.icon {
  display: none;
  cursor: pointer;
  margin: 15px;
  width: 40px;
  height: 40px;
}
.icon .MuiSvgIcon-root {
  color: #000000;
  font-size: 50px;
}
.header_link {
  display: flex;
  flex: 1;
}

@media only screen and (max-width: 800px) {
  .icon {
    display: flex;
    flex-direction: column;
  }
  .nav_links {
    display: none;
  }
}
